PORT=3000
BASE_URL=https://berlet.gig.nicoprt.xyz
POCKETID_CLIENT_ID=
POCKETID_CLIENT_SECRET=
POCKETID_REDIRECT_URI=https://berlet.gig.nicoprt.xyz/api/auth/callback
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=587
SMTP_USR=
SMTP_PASS=
EMAIL_FROM=
EXTERNAL_API_KEY=
